--
-- PostgreSQL database dump
--

\restrict wa4LmufJguGjjZVHo8Zy8zMb806102Ijp4qYO5bxUhOKdKkUtzzMogROW3on3Yl

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO testgen;

--
-- Name: generation_logs; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.generation_logs (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    question_id uuid,
    subject character varying(50) NOT NULL,
    topic character varying(255) NOT NULL,
    difficulty character varying(10) NOT NULL,
    retrieval_time double precision NOT NULL,
    generation_time double precision NOT NULL,
    validation_time double precision NOT NULL,
    total_time double precision NOT NULL,
    attempts integer NOT NULL,
    success boolean NOT NULL,
    token_usage jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.generation_logs OWNER TO testgen;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.questions (
    id uuid NOT NULL,
    subject character varying(50) NOT NULL,
    grade integer NOT NULL,
    topic character varying(255) NOT NULL,
    subtopic character varying(255),
    question_type character varying(20) NOT NULL,
    difficulty character varying(10) NOT NULL,
    bloom_level character varying(30) NOT NULL,
    question_text text NOT NULL,
    question_image text,
    options jsonb,
    matching_pairs jsonb,
    correct_answer text NOT NULL,
    explanation text NOT NULL,
    latex_content text,
    source_reference text NOT NULL,
    similarity_score double precision NOT NULL,
    validation_result jsonb,
    status character varying(20) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    times_served integer NOT NULL,
    report_count integer NOT NULL
);


ALTER TABLE public.questions OWNER TO testgen;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.reports (
    id uuid NOT NULL,
    question_id uuid NOT NULL,
    reported_by uuid NOT NULL,
    report_type character varying(30) NOT NULL,
    comment text,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reports OWNER TO testgen;

--
-- Name: topics; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.topics (
    id uuid NOT NULL,
    subject character varying(50) NOT NULL,
    grade integer NOT NULL,
    chapter character varying(255) NOT NULL,
    chapter_order integer NOT NULL,
    topic character varying(255) NOT NULL,
    subtopic character varying(255),
    page_start integer,
    page_end integer
);


ALTER TABLE public.topics OWNER TO testgen;

--
-- Name: users; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    full_name character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    auth_provider character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login timestamp with time zone
);


ALTER TABLE public.users OWNER TO testgen;

--
-- Name: variant_questions; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.variant_questions (
    variant_id uuid NOT NULL,
    question_id uuid NOT NULL,
    order_number integer NOT NULL
);


ALTER TABLE public.variant_questions OWNER TO testgen;

--
-- Name: variants; Type: TABLE; Schema: public; Owner: testgen
--

CREATE TABLE public.variants (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    subject character varying(50) NOT NULL,
    total_questions integer NOT NULL,
    difficulty_dist jsonb NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.variants OWNER TO testgen;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: testgen
--

COPY public.alembic_version (version_num) FROM stdin;
49517e7972f8
\.


--
-- Data for Name: generation_logs; Type: TABLE DATA; Schema: public; Owner: testgen
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: testgen
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: testgen
--

COPY public.reports (id, question_id, reported_by, report_type, comment, status, created_at) FROM stdin;
74dff301-49ca-454f-959f-e71763958108	f8dd8c22-211c-4adf-b13e-9243cea1b9b1	c3ab64cd-af2e-4c4a-acc7-93143108b63d	other	test	fixed	2026-04-11 19:32:50.533569+00
\.


--
-- Data for Name: topics; Type: TABLE DATA; Schema: public; Owner: testgen
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: testgen
--



--
-- Data for Name: variant_questions; Type: TABLE DATA; Schema: public; Owner: testgen
--



--
-- Data for Name: variants; Type: TABLE DATA; Schema: public; Owner: testgen
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: generation_logs generation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.generation_logs
    ADD CONSTRAINT generation_logs_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: topics topics_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT topics_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: variant_questions variant_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.variant_questions
    ADD CONSTRAINT variant_questions_pkey PRIMARY KEY (variant_id, question_id);


--
-- Name: variants variants_pkey; Type: CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.variants
    ADD CONSTRAINT variants_pkey PRIMARY KEY (id);


--
-- Name: generation_logs generation_logs_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.generation_logs
    ADD CONSTRAINT generation_logs_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: generation_logs generation_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.generation_logs
    ADD CONSTRAINT generation_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: questions questions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: reports reports_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: reports reports_reported_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_reported_by_fkey FOREIGN KEY (reported_by) REFERENCES public.users(id);


--
-- Name: variant_questions variant_questions_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.variant_questions
    ADD CONSTRAINT variant_questions_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: variant_questions variant_questions_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.variant_questions
    ADD CONSTRAINT variant_questions_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.variants(id);


--
-- Name: variants variants_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testgen
--

ALTER TABLE ONLY public.variants
    ADD CONSTRAINT variants_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wa4LmufJguGjjZVHo8Zy8zMb806102Ijp4qYO5bxUhOKdKkUtzzMogROW3on3Yl

